.scoreboard {
    position: absolute;
    z-index: 100;
    flex-direction: column;
    font-family: Nunito-Bold;
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba( 20, 10, 20, 0.8 );
    transition: all 0.1s ease-out;
    transform: scale( 1.05 );
    transform-origin: 50% 50%;
    backdrop-filter: blur(50px);

    &.open {
        opacity: 1;
        transform: scale( 1 );
    }

    .name, .player-name {
        flex-grow: 1;
    }

    .deaths, .kills, .ping, .player-name {
        width: 150px;
        text-align: center;
        text-transform: uppercase;
    }

    .player-name {
        text-align: left;
    }

    .kills {
        padding-right: 20px;
    }

    .logo {
        top: 120px;
        position: absolute;
        width: 712px;
        height: 121px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header {
        font-weight: 200;
        min-width: 40%;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .canvas {
        flex-direction: column;
        min-height: 20%;
        min-width: 40%;

        .entry {
            margin-bottom: 2px;
            padding: 8px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 20px;
            background-color: #5f6056;
            box-shadow: 4px 4px 5px rgba( black, 0.3 );

            &:nth-child(even) {
                background-color: #484942;
            }

            &:not( :first-child ) {
                margin-top: 4px;
            }

            .friend {
                right: 16px;
                top: 8px;
                position: absolute;
                font-family: Material Icons;
                font-size: 24px;
                color: lightgreen;
                text-shadow: 1px 1px 2px rgba( black, 0.3 );
            }

            .you {
                position: absolute;
                left: -60px;
                color: rgba( black, 1 );
                text-transform: uppercase;
                height: 100%;
                align-self: center;
                font-family: Nunito-Black;
                text-shadow: 1px 1px 2px rgba( black, 0.3 );
            }

            .tagged {
                position: absolute;
                right: -30px;
                color: linear-gradient( 180deg, rgba(#E04F55,1), rgba(#FFA7AA,1));
                height: 100%;
                font-size: 24px;
                bottom: 7px;
                align-self: center;
                font-family: Material Icons;
                text-shadow: 1px 1px 2px rgba( black, 0.3 );
                opacity: 1;
            }

            &.me {
                font-family: Nunito-Black;
                background-image: linear-gradient( to top, #df4a64, #d72e4c );

                .you {
                    color: linear-gradient( to top, #df4a64, #d72e4c );
                }
            }

            &:hover {
                cursor: pointer;
                background-color: rgba( #FAB002, 0.2 );
            }

            &:active {
                background-color: rgba( #FAB002, 0.4 );
            }
        }
    }
}
