
*.cache
code/obj/Debug/hit_s__run.csproj.AssemblyReference.cache
code/hit_s__run.csproj
*.cache
code/obj/project.assets.json
code/obj/project.nuget.cache
*.targets
*.props
code/obj/hit_s__run.csproj.nuget.dgspec.json
*.cache
*.cache
code/obj/project.assets.json
*.props
code/obj/hit_s__run.csproj.nuget.dgspec.json
code/obj/hit_s__run.csproj.nuget.g.targets
code/obj/Debug/hit_s__run.assets.cache
*.cache
code/obj/Debug/hit_s__run.assets.cache
