
@import "../_vars.scss";

BrawlHud {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    left: 39%;
    top: 20%;
    width: 400px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

HurtOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("ui/hud/hurtoverlay.png");
    background-size: 115%;
    background-position: center;
    opacity: 0;
    transition: opacity .1s ease-in;

    &.active {
        opacity: .5;
    }
}
